<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<!--      шапка        -->
<nav class="navbar navbar-dark bg-dark">
    <div style="color: aliceblue">
        <div style="margin-left: 20px">
            <strong>
                <td th:text="${user.email}"></td>
            </strong>
            with roles:
            <th:block th:each="role: ${user.roles}">
                <span th:if="${role.name} == 'ROLE_ADMIN'">ADMIN</span>
                <span th:if="${role.name} == 'ROLE_USER'">USER</span>
            </th:block>
        </div>
    </div>
    <a style="color: gray" class="nav-link" href="/logout">Logout</a>
</nav>

<div class="container-fluid">
    <div class="row">

        <!--        блок слева (выбор admin/user page)-->
        <div class="col-md-2 p-0">
            <br/>
            <div class="row">
                <nav class="nav flex-column nav-pills">
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <a style="margin-left: 10px" class="nav-link" href="/admin">Admin</a>
                    </div>
                    <a style="margin-left: 10px" class="nav-link active" href="/user">User</a>
                </nav>
            </div>
        </div>

        <!--        User page-->
        <!--        блок справа (User info page)-->
        <div class="col-md-10 bg-light" style="height: 100vh">
            <br/>
            <div style="margin-left: 10px">
                <!--            Вкладки Users table и New user-->
                <h2>User information-page</h2>

                <!--      About user    -->
                <div class="card">
                    <div class="card-header">
                        <h5>About user</h5>
                    </div>
                    <div class="card-body">
                        <!--                        ////////////////////////////////////////////-->
                        <table class="table table-striped" style="background-color: white">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="user : ${user}">
                                <td th:text="${user.getId()}">id</td>
                                <td th:text="${user.getName()}">name</td>
                                <td th:text="${user.getLastName()}">lastName</td>
                                <td th:text="${user.getAge()}">age</td>
                                <td th:text="${user.getUsername()}">email</td>
                                <td th:text="${user.convertRolesToString()}">role</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>
</body>
</html>